name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - '.github/workflows/flutter_web_deploy.yml'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web